.DaftPunkText {
  font-family: cursive;
  text-align: center;
  font-size: 40px;
  color: white;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.nextMusicIcon {
  position: absolute;
  left: 96%;
  top: 43%;
  cursor: pointer;
  color: white;
}

.backMusicIcon {
  position: absolute;
  top: 43%;
  cursor: pointer;
  color: white;
}

.textDiv {
  position: absolute;
  left: 50%;
  font-family: cursive;
  max-width: 40%;
  font-size: 25px;
  top: 35%;
  border-radius: 10px;
  color: white;
  background-color: #0f0f0f;
  padding: 25px;
  -webkit-box-shadow: 11px 12px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 12px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 12px 5px 0px rgba(0, 0, 0, 0.75);
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.nameMusic {
  position: absolute;
  top: 23%;
  left: 66%;
  font-size: 35px;
  font-family: cursive;
  color: white;
}

.InstantCrushMusic {
  position: absolute;
  top: 23%;
  left: 65%;
  font-size: 35px;
  font-family: cursive;
  color: white;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.OneMoreTimeMusic {
  position: absolute;
  top: 23%;
  left: 64%;
  font-size: 35px;
  font-family: cursive;
  color: white;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.HarderBetterFasterStronger {
  position: absolute;
  top: 23%;
  left: 60%;
  font-size: 35px;
  font-family: cursive;
  color: white;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.IconStop {
  position: absolute;
  top: 75%;
  left: 24%;
  cursor: pointer;
  color: white;
}

.DaftPunkImg {
  position: absolute;
  top: 25%;
  left: 15%;
  height: 400px;
  width: 400px;
  max-width: 80%;
  border-radius: 200px;
  border: 4px solid white;
  -webkit-animation: spin 4s linear infinite normal;
  -moz-animation: spin 4s linear infinite normal;
  animation: spin 4s linear infinite normal;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.DaftPunkTwo {
  position: absolute;
  top: 25%;
  left: 15%;
  height: 400px;
  width: 400px;
  border-radius: 200px;
  border: 4px solid white;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#oneDot {
  position: absolute;
  top: 90%;
  left: 44.5%;
  color: white;
}

#twoDot {
  position: absolute;
  top: 90%;
  left: 47.5%;
  color: white;
}

#treeDot {
  position: absolute;
  top: 90%;
  left: 50.5%;
  color: white;
}

#fourDot {
  position: absolute;
  top: 90%;
  left: 53.5%;
  color: white;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    transform: rotate(359deg);
  }
}
