.DaftPunkText {
  font-family: cursive;
  text-align: center;
  font-size: 40px;
}

.nextMusicIcon {
  position: absolute;
  left: 96.5%;
  top: 43%;
  cursor: pointer;
}

.backMusicIcon {
  position: absolute;
  top: 43%;
  cursor: pointer;
}

.textDiv {
  position: absolute;
  left: 50%;
  font-family: cursive;
  max-width: 40%;
  font-size: 25px;
  top: 35%;
  border-radius: 10px;
  border: ridge #222;
  border-width: 2px;
  -webkit-box-shadow: 11px 12px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 12px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 12px 5px 0px rgba(0, 0, 0, 0.75);
}

.nameMusic {
  position: absolute;
  top: 23%;
  left: 66%;
  font-size: 35px;
  font-family: cursive;
}

.InstantCrushMusic {
  position: absolute;
  top: 23%;
  left: 65%;
  font-size: 35px;
  font-family: cursive;
}

.OneMoreTimeMusic {
  position: absolute;
  top: 23%;
  left: 64%;
  font-size: 35px;
  font-family: cursive;
}

.HarderBetterFasterStronger {
  position: absolute;
  top: 23%;
  left: 59.5%;
  font-size: 35px;
  font-family: cursive;
}

.IconStop {
  position: absolute;
  top: 75%;
  left: 23%;
  cursor: pointer;
}

.DaftPunkImg {
  position: absolute;
  top: 25%;
  left: 15%;
  height: 400px;
  width: 400px;
  border-radius: 200px;
  -webkit-animation: spin 4s linear infinite normal;
  -moz-animation: spin 4s linear infinite normal;
  animation: spin 4s linear infinite normal;
}

#oneDot {
  position: absolute;
  top: 90%;
  left: 43.5%;
}

#twoDot {
  position: absolute;
  top: 90%;
  left: 46.5%;
}

#treeDot {
  position: absolute;
  top: 90%;
  left: 49.5%;
}

#fourDot {
  position: absolute;
  top: 90%;
  left: 52.5%;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    transform: rotate(359deg);
  }
}
